<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>generate</servlet-name>
        <servlet-class>com.github.burningchrome.seqeng.GenerateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>peek</servlet-name>
        <servlet-class>com.github.burningchrome.seqeng.PeekServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>generate</servlet-name>
        <url-pattern>/generate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>peek</servlet-name>
        <url-pattern>/peek</url-pattern>
    </servlet-mapping>


</web-app>